.imageContainer div{
    width: 400px;
    height: 300px;
    border: 4px solid lightgray;
    background-color: lightgrey;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
    align-items: left;
}

.imageContainer div:hover{
    border-color: red;
}
.uploadBox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .uploadButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
 }

 .uploadBox img{
    height: 100%;
 }

 .clearButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
 }